<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="contacto-page.html">

<dom-module id="demo-component">
  <template>
    <style>
      :host {
        display: block;
        font-family: cursive;
        color: white;
        background-color:blue;
      }
    </style>
    <h1>Datos personales:</h1>
    <h2>Hola mi nombre es [[nombre]], y mi ID es [[id]] </h2>
    <h2>Hola mi edad es [[edad]]</h2></style>
    <input type="text" value="{{nombre::input}}"/>
    <input type="range" min="18" max="100" value="{{edad::input}}"/>

    <h1>Boton</h1>
    <button on-clic"mostrarContactoComponent"> ver / Ocultar contacto </button>
      <div hidden$="[[oculto]]"> <!-- $ dice que hace referencia a atributo de la etiqueta html one way binding -->
        <contacto-page></contacto-page>
      </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
     class ProductosPage extends Polymer.Element {
       static get is() { return 'productos-page'; }
       static get properties() {
         return {
           oculto: { type: Boolean, value: true },

         }; }}  mostrarContactoComponent(){this.oculto = !this.oculto;} }

    class DemoComponent extends Polymer.Element {
      static get is() { return 'demo-component'; }
      static get properties() {
        return {
          id:     { type: String, value: '12345' },
          nombre: { type: String },
          edad:   { type: Number }
        }; } }


    window.customElements.define(DemoComponent.is, DemoComponent);
  </script>
</dom-module>
