 <link rel="import" href="../../bower_components/polymer/polymer-element.html">
 <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
 <link rel="import" href="/src/visor-usuario/visor-usuario.html">
 <link rel="import" href="../../bower_components/jwt-decode/jwt-decode.html">

 <dom-module id="login-usuario">
   <template>
     <style>
       :host {display: block; background-color: teal; color: white;}
     </style>
       <!-- Login -->
       <iron-ajax id="hacerLogin"
                  url="http://localhost:3000/api-uruguay/v1/login"
                  method="POST"
                  handle-as="json"
                  content-type= "application/json"
                  body="[[body]]"
                  on-response="mostrarResultadoLogin"
                  on-error="mostrarError">
       </iron-ajax>

       <!-- desLogin -->
       <iron-ajax id="hacerLogout"
                  url="http://localhost:3000/api-uruguay/v1/logout"
                  method="POST"
                  handle-as="json"
                  content-type= "application/json"
                  body="[[body]]"
                  on-response="mostrarResultadoLogout"
                  on-error="mostrarError">
       </iron-ajax>

       <!-- Cuentas
       <iron-ajax id="obtenerCuentas"
                  url="http://localhost:3000/api-uruguay/v1/cuentas/{{idCuenta}}"
                  method="GET"
                  handle-as="json"
                  content-type= "application/json"
                  body="[[body]]"
                  on-response="mostrarResultadocuentas"
                  on-error="mostrarError">
       </iron-ajax>

   Fin Cuentas -->

       <div align="center" class="row" hidden$="{{logeado}}">
         <h4>email:<input email type="email" value={{email::input}} /> </h4>
         <h4>password:<input type="password" value={{password::input}} /></h4><br>
         <button on-click="logar">Login</button>
       </div>

<!--        <visor-usuario id=[[userdata.id]]>{{arrcuentas}}</visor-usuario> -->
<visor-usuario id="usuario"></visor-usuario>

       <div align="center" hidden$="{{!logeado}}">
         <h2>Bienvenido de nuevo</h2><h2>[[userdata.first_name]] [[userdata.last_name]]</h2>
       </div>

       <div align="center" hidden$="{{!logeado}}">
         <h2 color="black" >Cuentas</h2><h2>[[userdata.cuentas]]</h2>
       </div>

<!--       <div align="center" class="row" hidden$="{{!logeado}}">
         <button on-click="ejecutarObtenerCuentas" hidden$="{{!logeado}}">Cuentas</button> </div> -->

       <div align="center" class="row" hidden$="{{!logeado}}">
         <button on-click="logout" hidden$="{{!logeado}}">logout</button> </div>
       <div align="center" hidden$="{{!salida}}">
         <h2>Hasta pronto</h2><h2>[[userdata.first_name]] [[userdata.last_name]]</h2>
       </div>


   </template>

   <script>
     class LoginUsuario extends Polymer.Element {
       static get is() { return 'login-usuario'; }
       static get properties() {
         return {
           email:    {type: String},
           password: {type: String},
           arrcuentas: {Type: Array},
           logeado:  {type: Boolean, value: false},
           salida:  {type: Boolean, value: false},
           ctas: {type: String}
         };
       }
/*Login */
       mostrarResultadoLogin(e) { /*una vez ok en el on-response*/
         let decode = jwt_decode(e.detail.response.token); /*decodifico el token*/
         var userdata = decode
         this.userdata = userdata.data
         console.log(userdata.data)
         console.log("4. Llegaron los resultados")
         console.log(e.detail.response)
         console.log("5. Proceso los resultados")
         this.logeado = true

/*         this.ctas = this.$.usuario.arrcuentas[0].idcuentas */

         /** alojar en session storage el token */
          var clave = "token"
          /* guardo tokenizado el objeto con email, first_name, id, last_name, logged, password y _id*/
          sessionStorage.setItem(clave, e.detail.response.token)
       }

       logar() { /*al dar clic en el botón Login*/
         if (this.email == null) {alert("Por favor ingrese Usuario."); return; }
         if (this.password == null)  {alert("Por favor ingrese clave."); return; }
         console.log("1. El usuario ha pulsado el botón")
         this.body={email:this.email,password:this.password}
         console.log("2. Voy a enviar la petición")
         this.$.hacerLogin.generateRequest()
         console.log("3. Petición enviada")
        }
/*Fin Login */

/*Deslogin */
         mostrarResultadoLogout(e) {
           console.log("4. Llegaron los resultados")
           console.log(e.detail.response)
           console.log("5. Proceso los resultados")
           this.salida = true
           this.logeado = false  }

         logout() {
           console.log("1. El usuario ha pulsado el botón")
           this.body={email:this.email}
           console.log("2. Voy a enviar la petición")
           this.$.hacerLogout.generateRequest()
           console.log("3. Petición enviada")
           var clave = "token" /** toma de session storage el token */
           sessionStorage.setItem(clave, e.detail.response.token) /* levanta del token el objeto con email, first_name, id, last_name, logged, password y _id*/
           let decode = jwt_decode(e.detail.response.token); /*decodifico el token*/
           let userdata = decode
           this.userdata = userdata.data }
/*Fin DesLogin*/

/* Mostrarcuentas
        ejecutarObtenerCuentas() {
          console.log(this.idCuenta)
          this.$.obtenerCuentas.generateRequest() }

        mostrarResultadocuentas(e) { /*una vez ok en el on-response*/
/*          console.log(e.detail.response)  }
/*fin mostrar cuentas*/

       mostrarError(error) { /*al dar error on-error*/
         console.log("4. Llega el error")
         console.log(error)
         this.logeado = false
       }
     }

     window.customElements.define(LoginUsuario.is, LoginUsuario);
   </script>
 </dom-module>
