<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../demo-component3/demo-component3.html"> <!-- importo a otro html -->

<dom-module id="demo-component2">
  <template>
    <style>
      :host {
        display: block;
        font-family: cursive;
        color: white;
        background-color:red;
      }
    </style>
    <h1>Datos personales 2:</h1>
    <h2>Hola mi nombre es [[nombre]], y mi ID es [[id]] </h2>
    <h2>Hola mi edad es [[edad]]</h2>
    <demo-component3></demo-component3> <!-- referencia a otro html -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent2 extends Polymer.Element {
      static get is() { return 'demo-component2'; }
      static get properties() {
        return {
          id:     { type: String, value: '12345' },
          nombre: { type: String },
          edad:   { type: Number }
        };
      }
    }

    window.customElements.define(DemoComponent2.is, DemoComponent2);
  </script>
</dom-module>
