
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="row">
      <h1 class="col-6">{{nombre}}</h1>
      <h2 class="col-6">{{apellido}}</h2>
    </div>
    <iron-ajax
               url= "http://localhost:3000/api-uruguay/v1/users/{{id}}"
               handle-as="json"
               on-response="mostrarDatos">   </iron-ajax>
  </template>

  <script>
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: { type: String    },
          apellido: { type: String},
          id: {type: Number},
          arrcuentas: {type: Array},
          ciudad: {type: String, value: "Desconocida"}
        };}
      mostrarDatos(datos) {
        //console.log(datos.detail.first_name)
        console.log(datos)
        console.log(datos.detail)
        console.log(datos.detail.response)
        console.log(datos.detail.response[0].first_name)
        this.nombre = datos.detail.response[0].first_name
        this.apellido = datos.detail.response[0].last_name
        this.arrcuentas = datos.detail.response[0].cuentas
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
