 <link rel="import" href="../../bower_components/polymer/polymer-element.html">
 <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="../../bower_components/jwt-decode/jwt-decode.html">

 <dom-module id="logout-usuario">
   <template>
     <style>
       :host {display: block;}
     </style>

       <iron-ajax id="hacerLogout"
                  url="http://localhost:3000/api-uruguay/v1/logout"
                  method="POST"
                  handle-as="json"
                  content-type= "application/json"
                  body="[[body]]"
                  on-response="mostrarResultadoLogout"
                  on-error="mostrarError">
       </iron-ajax>

       <div align="center" class="row"> <button on-click="logout">logout</button> </div>
       <div align="center" hidden$="{{!salida}}">
         <h2>Hasta pronto</h2><h2>[[userdata.first_name]] [[userdata.last_name]]</h2>
       </div>
   </template>

   <script>
     class LogoutUsuario extends Polymer.Element {
       static get is() { return 'logout-usuario'; }
       static get properties() {
         return {
           email:    {type: String},
           password: {type: String},
           salida:  {type: Boolean, value: false}
         };
       }

       mostrarResultadoLogout(e) {
         console.log("4. Llegaron los resultados")
         console.log(e.detail.response)
         console.log("5. Proceso los resultados")
         this.salida = true
       }

       logout() {
         console.log("1. El usuario ha pulsado el botón")
         this.body={email:this.email}
         console.log("2. Voy a enviar la petición")
         this.$.hacerLogin.generateRequest()
         console.log("3. Petición enviada")
         /** toma de session storage el token */
          var clave = "token"
          /* levanta del token el objeto con email, first_name, id, last_name, logged, password y _id*/
          sessionStorage.setItem(clave, e.detail.response.token)
          let decode = jwt_decode(e.detail.response.token); /*decodifico el token*/
          let userdata = decode
          this.userdata = userdata.data
       }
       
       mostrarError(error) {
         console.log("4. Llega el error")
         console.log(error)
         this.salida = false
       }
     }

     /*
     var txtClave = document.getElementById("txtClave"); /* Referencia al input de clave */
  /*    var clave = txtClave.value;
      var valor = localStorage.getItem(clave);

      var spanValor = document.getElementById("spanValor");
      spanValor.innerText = valor;

      var datosUsuario = JSON.parse(localStorage.getItem("json"));
      console.log(datosUsuario.nombre);
      console.log(datosUsuario.pais);
      console.log(datosUsuario);
     */


     window.customElements.define(LogoutUsuario.is, LogoutUsuario);
   </script>
 </dom-module>
