<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-component3">
  <template>
    <style>
      :host {
        display: block;
        font-family: cursive;
        color: white;
        background-color:blue;
      }
    </style>
    <h1>Datos personales 3:</h1>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComponent3 extends Polymer.Element {
      static get is() { return 'demo-component3'; }
      static get properties() {
        return {
          id:     { type: String, value: '12345' },
          nombre: { type: String },
        };
      }
    }

    window.customElements.define(DemoComponent3.is, DemoComponent3);
  </script>
</dom-module>
